{% extends 'lexicon/base.html' %}
{% load static %}

{% block title %}Lexicon{% endblock title %}

{% block content %}
    <h1>{{ word }}</h1>

    <p>Langue : {{ word.language }}</p>
    <p>Définition : {{ word.definition }}</p>
    <p>Parent :
        {% if word.parent %}
        <a href="{% url 'word_detail' word.parent.id %}" class="text-blue-500 hover:underline">
            {{ word.parent }}
        </a>
        {% else %}
        /
        {% endif %}
    </p>

    {% url 'update_word' word.id as url %}
    {% include 'lexicon/snippets/anchor_with_icon.html' with url=url icon='edit' text='Modifier' %}

    {% url 'home' as home_url %}
    {% include 'lexicon/snippets/anchor_with_icon.html' with url=home_url icon='arrow_back' text='Retour' %}

    <div id="graph-container" class="w-full h-96 border border-2 border-red-500 bg-white relative"></div>

    <script defer type="module">
        import { Graph } from "{% static 'lexicon/js/node-graph/Graph.js' %}";
        // import { DebugGrid } from "{% static 'lexicon/js/node-graph/core/DebugGrid.js' %}";
        // import { DebugControls } from "{% static 'lexicon/js/node-graph/core/DebugControls.js' %}";

        const graphData = {{ graph_data|safe }};
        console.log("Graph data:", graphData);

        const nodes = graphData.nodes;
        const edges = graphData.edges.map(edge => ({
            from: edge.source, to: edge.target
        }));

        const container = document.getElementById('graph-container');
        const graph = new Graph(container, { nodes: nodes, links: edges });

        // const grid = new DebugGrid(graph._viewportGroup, { spacing: 50, extent: 2000 });
        // const controls = new DebugControls(container, graph._viewport);

        // grid.render();
        // controls.render();

        const centerNode = nodes.find(n => n.data.is_center);
        if (centerNode) {
            graph.centerOnNode(centerNode.id);
        }
    </script>
{% endblock content %}